@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&family=Itim&display=swap');

html {
  height: 100%;
  width: 100%;
  font-family: 'Inconsolata', monospace !important;
  font-family: 'Itim', cursive !important;
}

.container-wrapper {
  width: 100%;
  height: 100%;
}